div {
}
head{
  font-family: 'Baloo Tamma 2', cursive;
}
body {
  margin: 0;
  color:#66BFBF;
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}
.grass1{
  width:20px;
  position:relative;
  right:70%

}
.grass2{
  width:45px;
  position:relative;
  left:100%;
  bottom:65px;

}

.fence{
background-image: url("https://wasitthat.github.io/CSS---My-Site/images/fence.png");
background-size:contain;
background-repeat: round;
  bottom: 55%;
  width:100%;
  height:25px;
  border:0;
  display:block;
  position:relative;

}
.fence2{
  background-image: url("https://wasitthat.github.io/CSS---My-Site/images/fence.png");
  background-size:contain;
  background-repeat: round;
  width:100%;
  height:100px;
  border:0;
  left:0%;
  display:block;
  position:absolute;

}

.p2{
  color:darkblue;
  font-family: 'Baloo Tamma 2', cursive;
  font-size:25px;
  margin:0;
  bottom:80px;
  position:relative;
  background-color: transparent;
}
p{
  color:white;
  font-family:'Baloo Tamma 2',cursive;
  font-size: 25px;
  margin:10px auto 10px auto;

}

h1 {
  font-family: 'Reenie Beanie', cursive;
  color: #66BFBF;
  font-size: 90px;
  margin: 0px auto 50px auto;
}
.hello{
  margin:0;
  height:60px;
}
h3{
  color: darkblue;
  font-family: 'Baloo Tamma 2', cursive;
  margin:10px auto 10px auto;
  font-size: 35px;

}

h2{
  font-family:'Baloo Tamma 2',cursive;
  color:#40514E;
  margin:0px auto 0px auto;
  font-weight: normal;
  font-size: 3.0rem;
}
.touch{
  color:darkblue;
  position:relative;
  bottom:80px;

}
.mail{
  position:relative;
  bottom:80px;
}
.Cow{
  position: relative;
  width: 120px;
  left:100%;
  top:280%;
}
.Cow2{
  position:relative;
  width: 45px;
  right:70%;
  top:10%;
}
.Cow3{
  position:relative;
  width: 180px;
  top:410%;
  right:30%;
}
.top {
  position:relative;
  background: -webkit-linear-gradient(270deg, #203164 0%, #D4DBF1 100%);
}
.bottom-container{
  background-color: rgba(255,247,247,1);
}
.middle-container{
  background: -webkit-linear-gradient(bottom, rgba(255,247,247,1) 2%, rgba(3,126,19,1) 4%, rgba(5,245,37,1) 97%, rgba(212,219,241,1) 98%);

}
.C{
  margin:auto 20px auto auto;
  width:30%;
  float:left;
}
.SQL{
  margin:auto auto auto 20px;
  width:40%;
  float:right;
}
.Python{
  margin:auto 20px auto auto;
  width:50%;
  float:left;
}
.Excel{
  margin:auto auto auto 20px;
  width:30%;
  float:right;
}
.HTML{
  margin:auto 20px auto auto;
  width:40%;
  float:left;
}
.pro {
  text-decoration: underline;
}
.Cakewalk{
  margin:auto 20px auto auto;
  width:50%;
  float:right;
}
.bottom-cloud {
  position: absolute;
  width: 10%;
  left: 0%;
  top:40%;
}
.middle-cloud{
  position: absolute;
  width:20%;
  top:38%;
  left: 80%;
}

.top-cloud {
  position: absolute;
  width:20%;
  left: 10%;
}

.skills{
  margin:80px auto 100px auto;
  width:50%;
}

.skill-row{
  margin:20px auto 10px auto;
  text-align: left;
  line-height: 2;

}
.skill-left{
}
.skill-right{

}
